.btn-navbar {
    display: flex;
    align-items: center;
    background: transparent;
    color: $neutral-900;
    border: 1px solid transparent;
    padding: 4px 8px;
    border-radius: 4px;

    &:focus {
        background: $gradient;
        background-clip: text;
        color: transparent !important;
        box-shadow: 0 0 0 4px $bor;
    }
}

.btn-search {
    position: absolute;
    display: flex;
    align-items: center;
    color: $white;
    right: 48px;

}

.btn-triangle {
    font-size: 18px;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 4px;
    background: $gray-200;
    border-color: $gray-200;
    transition: background-color 0.2s ease-in-out, color 0s;

    &::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 0 0 12px 12px;
        border-color: transparent transparent $neutral-900 transparent;
        bottom: -1px;
        right: -1px;
    }

    &:hover {
        color: $white;
        background: $gradient;
        border-color: transparent;
        background-origin: border-box;

        &::after {
            border-color: transparent transparent $neutral-900 transparent;
        }
    }


}

.btn-triangle-transparent{
    background: transparent;
    border-color: transparent;
}

.btn-triangle-white {
    background: $white;
    border-color: $white;
}
