.card-tag {
    writing-mode: vertical-lr;
    height: calc(100% + 20px);
    top: -18px;
    left: 48px;

    &::before {
        content: "";
        position: absolute;
        border-style: solid;
        border-width: 0 0 16px 12px;
        border-color: transparent transparent $neutral-700 transparent;
        top: 0;
        left: -12px;
    }
}

.card-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: $bor-glass2;
    position: absolute;

    &-1 {
        top: 6px;
        left: 6px;
    }

    &-2 {
        top: 6px;
        right: 6px;
    }

    &-3 {
        bottom: 6px;
        right: 6px;
    }

    &-4 {
        bottom: 6px;
        left: 6px;
    }
}
