.input-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 8px 40px 8px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: $neutral-900;
    background-color: $white;
    border: 1px solid $bor;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 4px rgba(230, 230, 230, 0.5), 0 0 0 50px $white inset;
    transition: $input-transition;

    &:focus {
        color: $neutral-900;
        background: $gradient;
        background-origin: border-box;
        border-color: transparent;
        outline: 0;
        box-shadow: 0px 0px 0px 4px rgba(255, 204, 204, 0.5), 0 0 0 50px $white inset;
    }

    ::placeholder {
        color: $neutral-500;
    }
}
