.hover-gradient:hover {
    background: $gradient;
    background-clip: text;
    color: transparent !important;
}

.text-gradient {
    background: $gradient;
    background-clip: text;
    color: transparent !important;
}

.hover-show {
    transition: all .2s ease-in-out;
    display: none;
}

.hover-trigger:hover {

    .hover-show{
        display: block;
    }
}