.hover-gradient:hover {
    background: $gradient;
    background-clip: text;
    color: transparent !important;
}

.text-gradient {
    background: $gradient;
    background-clip: text;
    color: transparent !important;
}